:root {
  --paths__line-width: 2px;
}

.path__short {
  width: var(--paths__line-width);
  height: 15px;
  /* margin-left: 24px; */
  background-color: black;
}

.path__dynamic {
  flex-grow: 1;
  width: var(--paths__line-width);
  margin-left: 24px;
  background-color: black;
}

.path__triangle_arrow_up {
  width: var(--paths__line-width);
  height: 0;
  border-left: calc(var(--paths__line-width) * 2) solid transparent;
  border-right: calc(var(--paths__line-width) * 2) solid transparent;
  border-bottom: calc(var(--paths__line-width) * 10) solid black;
  margin-left: 20px;
}
