.step__container{
  display: inline-flex;
  flex-direction: row;
  width: calc(var(--step__number-field-width) + var(--step__horizontal-connector-width) + var(--action__box-width));
  align-items: center;
  margin-left: 0;
}
.step__container:hover .net-hover-menu__container {
  display: grid;
  margin-left: 0px;
}

.step__number-field {
  display: inline-block;
  width: var(--step__number-field-width);
  height: var(--step__number-field-width);
  margin: 0 0;
  
  align-items: center;
  justify-content: center;

  background-color: white;

  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.step__horizontal-connector{
  width: var(--step__horizontal-connector-width); 
  height: 2px; 
  background-color: black;
}