.transition__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.transition__vertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  position: relative;
}
.transition__vertContainer:hover .hover_control__container {
  display: grid;
  margin-left: 90px;
}

.transition__bar {
  width: 30px;
  height: 4px;
  background-color: black;
}

.transition__name-field {
  width: 200px;
  height: 30px;
  background-color: transparent;
  border-style: none;
  margin: 0 0;
  display: flex;
  align-items: center;
}

.transition__name-field-text {
  width: 100%;
  height: 20px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  padding: 0px;
  margin: 0px;
  resize: none;
}
